In [39]:
import pandas as pd

df = pd.read_csv("har01_Gurteenwf_2018111412.csv", header=0, delimiter=",", error_bad_lines = False, skiprows=72, parse_dates=['Day'])

df.loc[:,['Day','Hour', 'Rain']]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

          Day  Hour  Rain
0  2018-11-14   NaN   NaN
1  2018-11-14   NaN   NaN
2  2018-11-14   NaN   NaN
3  2018-11-14   NaN   NaN
4  2018-11-14   NaN   NaN
5  2018-11-14   NaN   NaN
6  2018-11-14   NaN   NaN
7  2018-11-14   NaN   NaN
8  2018-11-14   NaN   NaN
9  2018-11-14   NaN   NaN
10 2018-11-14   NaN   NaN
11 2018-11-15   NaN   NaN
12 2018-11-15   NaN   NaN
13 2018-11-15   NaN   NaN
14 2018-11-15   NaN   NaN
15 2018-11-15   NaN   NaN
16 2018-11-15   NaN   NaN
17 2018-11-15   NaN   NaN
18 2018-11-15   NaN   NaN
19 2018-11-15   NaN   NaN
20 2018-11-15   NaN   NaN
21 2018-11-15   NaN   NaN
22 2018-11-15   NaN   NaN
23 2018-11-15   NaN   NaN
24 2018-11-15   NaN   NaN
25 2018-11-15   NaN   NaN
26 2018-11-15   NaN   NaN
27 2018-11-15   NaN   NaN
28 2018-11-15   NaN   NaN
29 2018-11-15   NaN   NaN
30 2018-11-15   NaN   NaN
31 2018-11-15   NaN   NaN
32 2018-11-15   NaN   NaN
33 2018-11-15   NaN   NaN
34 2018-11-15   NaN   NaN
35 2018-11-16   NaN   NaN
36 2018-11-16   NaN   NaN
37 2018-11-16   NaN   NaN
38 2018-11-16   NaN   NaN
39 2018-11-16   NaN   NaN
40 2018-11-16   NaN   NaN
41 2018-11-16   NaN   NaN
42 2018-11-16   NaN   NaN
43 2018-11-16   NaN   NaN
44 2018-11-16   NaN   NaN
45 2018-11-16   NaN   NaN
46 2018-11-16   NaN   NaN
47 2018-11-16   NaN   NaN
48 2018-11-16   NaN   NaN
49 2018-11-16   NaN   NaN
50 2018-11-16   NaN   NaN
51 2018-11-16   NaN   NaN
52 2018-11-16   NaN   NaN
53 2018-11-16   NaN   NaN

In [ ]:
#(df.iloc[:,:2])